<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="cyan">
<form action="./reg" method="post">
    {% csrf_token %}
    Enter First Name:<input type="text" name="t1"><br>
    Enter Last Name:<input type="text" name="t2"><br>
    Enter Username:<input type="text" name="t3"><br>
    Enter Password:<input type="password" name="t4"><br>
    Enter Cpassword:<input type="password" name="t5"><br>
    Enter Mobno:<input type="number" name="t6"><br>
    Enter Emailid:<input type="email" name="t7"><br>
    <input type="submit" value="reg">
</form>
</body>
</html>